# Force hoisting of eslint and prettier plugins/configs to make them accessible to all packages
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Avoid symlink EPERM issues on Windows by using hoisted node_modules linker
node-linker=hoisted
